html{
	background-color:#2F2F2F;
}

body{
	/*height: 100%;*/
	background-color:rgb(245, 245, 245);
}


#mainWrapper {
	height: 100%;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  position:fixed;
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

body, #mainWrapper, .form-control{
	font-size:12px!important;
}

#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	background: #f9f9f9;
}

.border {
	border-bottom: 1px solid #dcd9d9;
	padding-left: 52%;
}

.border h2 {
	color: #729672;
}

.logo-image {
	background: url("../image/img__Bunzl copy.png") no-repeat 100%;
	height: 200px;
	border-right: 1px solid #dcd9d9;
	margin-top: 60px;
}
.logo-area {
    background: url("../image/img__Bunzl copy.png") no-repeat 100%;
    background-position-x: 30px;
    height: 60px;
}

.subheader {
    padding: 30px 0;
    float: left;
    border-bottom: 1px solid #dcd9d9;
}

.subheader h2 {
    float: left;
    color: #29abe2;
    font-size: 32px;
    margin: -10px 0 0 40px;
}

.main-wrapper {
    clear: both;
    padding-top: 15px;
}

.order-wrapper {
    border-top: 1px solid #dcd9d9;
    padding-bottom: 50px;
    clear: both;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.form-actions .btn-block {
	width: 150px! important;
}

.form-actions p {
	margin: 10px 0 10px;
}

#rememberme {
	width: 15px;
	height: 15px;
}

.back-btn {
    float: left;
    background: url("../image/img__Back.png") no-repeat 100%;
    background-position: 0;
    height: 15px;
    margin-left: 30px;
    padding-left: 20px;
}

.comments b {
    float: left;
}

.add-comment-btn {
    float: left;
    background-image: url("../image/img__Add comment.png");
    background-repeat: no-repeat;
    background-size: 16px;
    height: 30px;
    width: 30px;
    font-size: 0!important;
    margin: 0 5px;
}
.add-comment-btn:hover {
	background-image: url("../image/img__Add comment_hover.png");
}
.add-file-input {
	background-image: url("../image/img__Add comment_hover.png");
}
.btn-primary {
	background-color: #29abe2;
	border: none;
    color: #fff;
}

.btn-success {
    background-color: #29abe2!important;
    border: none!important;
    color: #fff;
}

.btn-success:hover {
    background-color: #337ab7!important;
    border: none!important;
}

.table-title {
    color: #29abe2;
}

.back-btn-wrapper {
    border-bottom: 1px solid #dcd9d9;
}
.back-btn-wrapper a {
    margin: 20px 0 10px;
}

.order-status-wrapper a {
    float: left;
}

.authbar{
	margin-bottom:15px;
}

.order-attachment li {
	list-style-type: none;
}
.order-attachment a {
	color: inherit;
}
.order-attachment .file-info {
	color: #b4b4b4;
    display: inline;
    font-size: 0.9em;
}
.order-attachment .remove-attachment {
	display: none;
}
remove-attachment:hover {
	display: inline-block !important;	
}
.icon-align {
	vertical-align: bottom;
}
.remove-icon-align {
	vertical-align: text-top;
    margin-left: 4px;
    color: #b4b4b4;
}
.remove-icon-align:hover {
	cursor: pointer;
}
.remove-icon-align:active {
	color: #a4a4a4;
}
.attachment-preview:hover {
	cursor: pointer;
}
.attachment-preview:active {
	color: #8cd5ff;
}

b {
    color: #29abe2;
    font-weight: 300!important;
}

.opmerkingen-wrapper {
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 30px;
    display: block;
    border-bottom: 1px solid #dcd9d9;
}

.coments-table {
    padding: 15px 0;
}

.comments {
    padding: 10px 0;
    border-bottom: 1px solid #dcd9d9;
}

.blabla {
    margin-top: 130px;
}

.inner-info-table td{
	padding-top: 7px;
	padding-right: 10px;
}

/*for progress bar*/
@-webkit-keyframes myanimation {
	from {
		left: 0%;
	}
	to {
		left: 50%;
	}
}
h1 {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 20px 0;
	color: #777;
}

.checkout-wrap {
	color: #444;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 40px auto;
	max-width: 1200px;
	position: relative;
}

.progress-bar-line:before {
    content: "";
    left: -500px;
    top: 6px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dcd9d9;
}

.progress-bar-line:after {
    content: "";
    right: -500px;
    top: 6px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dcd9d9;
}

.prev-order-btn {
    position: absolute!important;
    left: -160px;
}

.prev-order-btn:before {
    content: "";
    background: url("../image/img__Prev.png") no-repeat ! important;
    display: block;
    border: none! important;
    box-shadow: none! important;
}

.next-order-btn:before {
    content: "";
    background: url("../image/img__Next.png") no-repeat ! important;
    display: block;
    border: none! important;
    box-shadow: none! important;
}

.next-order-btn {
    position: absolute!important;
    right: -160px;
}
ul.checkout-bar li {
	color: #ccc;
	display: block;
	font-size: 16px;
	font-weight: 600;
	padding: 14px 20px 14px 80px;
	position: relative;
}
ul.checkout-bar li:before {
	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	background: #ddd;
	border: 2px solid #FFF;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	left: 20px;
	line-height: 37px;
	height: 35px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	top: 4px;
	width: 35px;
	z-index: 999;
}
ul.checkout-bar li.active {
	color: #8bc53f;
	font-weight: bold;
}
ul.checkout-bar li.active:before {
	background: #8bc53f;
	z-index: 99999;
}
ul.checkout-bar li.visited {
	background: #ECECEC;
	color: #57aed1;
	z-index: 99999;
}
ul.checkout-bar li.visited:before {
	background: #57aed1;
	z-index: 99999;
}
ul.checkout-bar li:before {
content: "";
}
/*ul.checkout-bar li:nth-child(1):before {*/
	/*content: "1";*/
/*}*/
/*ul.checkout-bar li:nth-child(2):before {*/
	/*content: "2";*/
/*}*/
/*ul.checkout-bar li:nth-child(3):before {*/
	/*content: "3";*/
/*}*/
/*ul.checkout-bar li:nth-child(4):before {*/
	/*content: "4";*/
/*}*/
/*ul.checkout-bar li:nth-child(5):before {*/
	/*content: "5";*/
/*}*/
/*ul.checkout-bar li:nth-child(6):before {*/
	/*content: "6";*/
/*}*/
ul.checkout-bar a {
	color: #57aed1;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

@media all and (min-width: 800px) {
	.checkout-bar li.active:after {
		-webkit-animation: myanimation 3s 0;
		background-size: 35px 35px;
		background-color: #8bc53f;
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		/*height: 15px;*/
		width: 100%;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
	}

	.checkout-wrap {
        top: 24px;
		margin: 80px auto;
	}

	ul.checkout-bar {
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		background-size: 35px 35px;
		background-color: #EcEcEc;
		border-radius: 15px;
		height: 15px;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 100%;
	}
	ul.checkout-bar:before {
		background-size: 35px 35px;
		background-color: #57aed1;
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		content: " ";
		height: 15px;
		left: 0;
		position: absolute;
		width: 5%;
	}
	ul.checkout-bar li {
		display: inline-block;
		margin: 7px 0 0;
		padding: 0;
		text-align: center;
		width: 12%;
        top: 40px;
        vertical-align: top;
	}
	ul.checkout-bar li:before {
		height: 25px;
		left: 40%;
		line-height: 45px;
		position: absolute;
		top: -52px;
		width: 25px;
		z-index: 99;
	}
	ul.checkout-bar li.visited {
		background: none;
	}
	ul.checkout-bar li.visited:after {
		background-size: 35px 35px;
		background-color: #57aed1;
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		height: 15px;
		left: 50%;
		position: absolute;
		top: -47px;
		width: 100%;
		z-index: 99;
	}
}

/* ---Tablesorter-------------------------------
 This is how rows are hidden by filtering (included in provided themes) */
.tablesorter .filtered {
    display: none;
}

/* All of the following css is already contained within each theme file; modify it as desired */
/* filter row */
.tablesorter-filter-row td {
    background: #eee;
    line-height: normal;
    text-align: center; /* center the input */
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-filter-row .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed;
}

/* hidden filter row */
.tablesorter-filter-row.hideme td {
    /*** *********************************************** ***/
    /*** change this padding to modify the thickness     ***/
    /*** of the closed filter row (height = padding x 2) ***/
    padding: 2px;
    /*** *********************************************** ***/
    margin: 0;
    line-height: 0;
    cursor: pointer;
}
.tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}

/* filters */
.tablesorter-filter {
    width: 95%;
    height: inherit;
    margin: 4px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}
.order-attachment li {
	list-style-type: none;
	overflow: hidden;
}
.order-attachment a {
	color: inherit;
}
.order-attachment .file-info {
	color: #b4b4b4;
    display: inline;
    font-size: 0.9em;
}
.order-attachment .remove-attachment {
	display: none;
}
remove-attachment:hover {
	display: inline-block !important;	
}
.icon-align {
	vertical-align: bottom;
}
.remove-icon-align {
	vertical-align: text-top;
    margin-left: 4px;
    color: #b4b4b4;
}
.remove-icon-align:hover {
	cursor: pointer;
}
.remove-icon-align:active {
	color: #a4a4a4;
}
.attachment-preview:hover {
	cursor: pointer;
}
.attachment-preview:active {
	color: #8cd5ff;
}
.drag-n-drop-zone {
	/*background-color: silver;*/
/* 	width: 200px; */
/* 	min-height: 90px; */
}
/*.drag-n-drop-zone:hover {*/
	/*background-color: #d0cece;*/
	/*border-style: dotted;*/
	/*border-width: 2px;*/
	/*border-color: silver;*/
/*}*/
.progress-bar {
	height: 2px !important;
}
.file-upload-status {
	float: right;
}
.file-upload-success {
	color: #5cb85c;
}
.file-upload-error {
	color: #d9534f;
}
.fileinput-button {
	position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.drag-n-drop-file-text {
	display: inline-block;
    margin-left: 1rem;
    font-family: initial;
}

.file-info-text {
	display: inline-block;
    margin-left: 1rem;
}

.dropzone {
/*     background: palegreen; */
/*     width: 150px; */
/*     height: 50px; */
/*     line-height: 50px; */
/*     text-align: center; */
    font-weight: bold;
}
.dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.dropzone.hover {
    background: lawngreen;
}
.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/*for filter-bar*/
.status-filter-bar{
	padding-left: 15px;
	overflow: hidden;
	display: block;
	/*float: left;*/
}

.status-filter-bar li{
	list-style-type: none;
	display: block;
	/*height: auto;*/
}

.status-filter-bar li a{
	display: block;
}

.commentText{
	font-weight: bold;
	padding-top: 15px;
	border-top: solid;
	border-top-width: 0px;
	border-top-color: silver;

}